@charset "utf-8";
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: #222;
}
li {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
h4 {
    margin: 0;
}
.container {
    /* background-color: tomato; */
    height: 100vh;
}
.inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 0;
}
/* header */
header {
    background-color: #fff;
    height: 110px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 10px #999;
    z-index: 10;
}
header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
}
.logo {
    max-width: 200px;
    flex: 1;
}
.logo a img {
    width: 100%;
    margin-bottom: 10px;
}
.header-search {
    flex: 1;
}
input[type="search"] {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #222;
    flex: 1;
}
/* gnb */
.gnb {
    flex: 2;
}
.gnb a {
    padding: 0 10px;
}
.gnb-sub {
    width: 100%;
    height: 300px;
    background-color: #fff;
    position: fixed;
    margin-top: 95px;
    border-top: 1px solid #ddd;
    display: none;
    z-index: 10;
}
.gnb-sub .inner {
    max-width: 1600px;
    padding: 0;
}
.gnb-sub .inner ul {
    /* float: left; */
}
.gnb-sub .inner > ul > li {
    float: left;
    border-left: 1px solid #ddd;
    width: 200px;
    height: 300px;
    padding: 0 0 0 20px;
}
.gnb-sub .inner > ul > li > a {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    padding: 20px 0;

}
/* section: slider */
.slider {
    padding: 60px 0;
    height: 600px;
    background-color: #eee;
    display: flex;
    align-items: center;
    width: 100%;
}
.slides-wrap {
    margin: auto;
    width: 1170px;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.slides {
    position: absolute;
    left: 0;
    top: 100px;
    width: 3510px;
    transition: 0.5s ease-out;
}
.slide-content {
    max-width: 1170px;
    display: flex;
    background-color: slateblue;
}
.slides li:first-child {
    float: left;
}
.slides li:not(:last-child) {
    float: left;
    margin-right: 110px;
}
.slide-img {
    /* flex: 2; */
}
.slide-img img {
    width: 800px;
    height: 100%;
}
.slide-text {
    /* flex: 1; */
}
.turn-btn {
    position: relative;
}
.turn-btn .fa {
    position: absolute;
    top: 300px;
    width: 70px;
    font-size: 3em;
    cursor: pointer;
    color: #222;
}
.prev .fa {
    left: 0px;
}
.next .fa {
    right: -40px;
}
/* section: tab */
.tab-list {
    display: flex;
}
.tab-list li {
    padding: 10px;
}
.tab-list li.active {
    border-bottom: 4px solid tomato;
}
.tab-container {
    position: relative;
    height: 1400px;
}
.tab-list-wrap {
    position: absolute;
}
.tab-content-wrap {
    display: flex;
    width: 100%;
    height: 500px;
}
.tab-content-left, .tab-content-right {
    flex: 1;
    height: 100%;
}
.tab-content-top, .tab-content-bottom {
    height: 250px;
    display: flex;
}
.tab-content {
    width: 100%;
    height: 100%;
}
.tab-img img {
    width: 90%;
    height: 50%;
}
.tab-text {
    width: 90%;
}
.tab-content-wrap:last-child {
    height: 250px;
}

/* section: banner */
.banner {
    background-color: #eee;
}
.banner .inner {
    display: flex;
    justify-content: space-between;
} 
.banner img {
    width: 150px;
}
/* section: subscribe */
.subscribe-top {
    display: flex;
    justify-content: space-between;
}
.subscribe-content {
    display: flex;
    width: 100%;
}
.subscribe-content > div {
    flex: 1;
}
.subscribe-img img {
    width: 100%;
}
/* footer */
footer {
    background-color: #222;
    color: #fff;
    position: relative;
}
.footer-logo img {
    width: 300px;
}
.footer-menu a {
    color: #fff;
    float: right;
}
.sns {
    float: right;
    font-size: 30px;
}
.footer-group {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-group img {
    width: 100px;
}